.tag-list {
  width: 100vw;
  line-height: normal;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  position:relative;
  overflow: hidden;
}

.inner {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 15s linear infinite;
}

.inner-reverse {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 15s linear infinite reverse;
}

.fade {
  position: absolute;
  background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b),
              linear-gradient(-90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
  inset: 0;
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}